<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <%- include('./partials/nav') %>

  <body>
    <h1>Full Menu</h1>
    <h2>Mains</h2>
    <ul>
      <% menu.forEach(meal=> { %> <% if (meal.category === "mains") { %>
      <li>
        <h3><%= meal.name %></h3>
        <p>Price: $<%= meal.price.toFixed(2) %></p>
        <p>Rating: <%= meal.rating %> stars</p>
        <p>Details: <%= meal.details %></p>
      </li>
      <% } %> <% }); %>
    </ul>
    <h2>Desserts</h2>
    <ul>
      <% menu.forEach(meal=> { %> <% if (meal.category === "desserts") { %>
      <li>
        <h3><%= meal.name %></h3>
        <p>Price: $<%= meal.price.toFixed(2) %></p>
        <p>Rating: <%= meal.rating %> stars</p>
        <p>Details: <%= meal.details %></p>
      </li>
      <% } %> <% }); %>
    </ul>
    <h2>Sides</h2>
    <ul>
      <% menu.forEach(meal=> { %> <% if (meal.category === "sides") { %>
      <li>
        <h3><%= meal.name %></h3>
        <p>Price: $<%= meal.price.toFixed(2) %></p>
        <p>Rating: <%= meal.rating %> stars</p>
        <p>Details: <%= meal.details %></p>
      </li>
      <% } %> <% }); %>
    </ul>
  </body>
</html>
